@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --padding-container: 2em 10em;
  --padding-container-mobile: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--off-white);
  overflow-x: hidden;

  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----- HEADER ----- */
.header {
  width: 100%;
  padding: var(--padding-container);
  padding-top: 3em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
}
.nav {
  padding: 1em 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.list-links {
  list-style: none;
  color: var(--dark-grayish-blue);
  text-align: center;

  display: flex;
  align-items: center;
}
.link {
  margin: 0 1em;
  display: block;
}

.link--button {
  display: none;
}

#button-menu {
  border: none;
  background: none;
  cursor: pointer;
}

.link__text {
  text-align: inherit;
  text-decoration: none;
  color: inherit;
}
.link__text:hover {
  transition: 0.5s;
  color: var(--soft-red);
}

/* ----- MAIN ----- */
.main {
  max-width: 1440px;
  padding: var(--padding-container);

  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.section {
  width: 66%;
  overflow: hidden;
}

.main__image {
  width: 100%;
  display: block;
}

.info {
  width: 100%;
  margin-top: 2em;

  display: flex;
  justify-content: center;
  gap: 1em;
}

.info__title {
  padding: 0.2em 2em 0.2em 0;
  color: var(--very-dark-blue);

  text-align: left;
  line-height: 1;
  font-weight: 800;
  font-size: 3em;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2em;
}

.description__paragraph {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.description__button {
  padding: 1em 2em;
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-family: "Inter";
  font-weight: 700;

  cursor: pointer;
  user-select: none;
}

.description__button:hover {
  transition: 0.5s;
  background-color: var(--very-dark-blue);
}

/* ----- ARTICLE ----- */
.article {
  width: 34%;
  padding: 2em;
  background-color: var(--very-dark-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article__title {
  margin-bottom: 0.8em;
  color: var(--soft-orange);

  text-align: left;
  font-weight: 800;
  font-size: 2.5em;
}

.list-new {
  width: 100%;
  list-style: none;
}

.new {
  padding: 1em 0;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.new--bottom {
  border-bottom: none;
}

.new__title {
  margin-bottom: 0.5em;
  color: var(--off-white);

  font-weight: 800;
  font-size: 1.34em;
  cursor: pointer;
}

.new__title:hover {
  transition: 0.5s;
  color: var(--soft-orange);
}

.new__paragraph {
  color: var(--grayish-blue);
  line-height: 1.6;
}

/* ----- ASIDE ----- */
.aside {
  max-width: 1440px;
  padding: var(--padding-container);
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.ranking {
  overflow: hidden;

  display: flex;
  justify-content: center;
  gap: 2em;
}

.ranking__image {
  width: 85px;
  object-fit: cover;
}

.ranking__info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.ranking__number {
  color: var(--grayish-blue);
  font-weight: 800;
  font-size: 2em;
}

.ranking__title {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 1.2em;
  cursor: pointer;
}
.ranking__title:hover {
  transition: 0.5s;
  color: var(--soft-red);
}

.ranking__paragraph {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

/* ----- FOOTER ----- */
.footer {
  width: 100%;
  margin-top: 1em;
  padding: 3em;
  background-color: var(--very-dark-blue);
  color: var(--off-white);

  text-align: center;
  font-size: 0.8em;
}

.footer__link {
  color: var(--soft-orange);
}

@media (max-width: 880px) {
  .body--hidden {
    overflow: hidden;
  }

  /* ----- HEADER ----- */
  .header {
    padding: var(--padding-container-mobile);
  }

  .nav--open {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: hsla(0, 0%, 0%, 0.638);

    justify-content: end;
  }

  .list-links--open {
    width: 60%;
    height: 100vh;
    padding: 2em;
    background-color: var(--off-white);

    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .link {
    color: var(--very-dark-blue);
    text-align: left;
    display: none;
  }
  .link--open {
    display: block;
    margin: 0 0 2em 0;
  }

  .link--button {
    display: block;
  }
  .link--button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em;
  }
  .img-close {
    content: url(./assets/images/icon-menu-close.svg);
  }

  /* ----- MAIN ----- */
  .main {
    padding: var(--padding-container-mobile);
  }

  /* ----- ASIDE ----- */
  .aside {
    padding: var(--padding-container-mobile);
  }
  /* ----- FOOTER ----- */
  .footer {
    padding: var(--padding-container-mobile);
  }
}

@media (max-width: 480px) {
  /* ----- MAIN ----- */
  .main {
    width: 100%;
    flex-direction: column;
    gap: 5em;
  }

  .section {
    width: 100%;
  }

  .main__image {
    content: url(./assets/images/image-web-3-mobile.jpg);
  }

  .info {
    flex-direction: column;
  }

  .info__title {
    padding-right: 1em;
  }

  /* ----- ARTICLE ----- */
  .article {
    width: 100%;
  }
  /* ----- ASIDE ----- */
  .aside {
    flex-direction: column;
  }
}
