@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --padding-container: 2em 4em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--off-white);
  overflow-x: hidden;

  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----- HEADER ----- */
.header {
  width: 100%;
  padding: var(--padding-container);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.nav {
  padding: 1em;
}
.list-links {
  list-style: none;

  display: flex;
  align-items: center;
}
.link {
  margin: 0 1em;
  display: block;
}
.link__text {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
.link__text:hover {
  color: var(--soft-red);
}

/* ----- MAIN ----- */
.main {
  max-width: 65%;
  padding: var(--padding-container);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__image {
  width: 100%;
}

.section {
  width: 100%;
  padding: 2em 0;
  display: flex;

  justify-content: space-between;
}

.section__title {
  padding-right: 2em;
  color: var(--very-dark-blue);

  text-align: left;
  line-height: 1;
  font-weight: 800;
  font-size: 3em;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.description__paragraph {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

.description__button {
  padding: 1em 2em;
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-family: "Inter";
  font-weight: 700;

  cursor: pointer;
}

.description__button:hover {
  background-color: var(--very-dark-blue);
}

/* ----- ASIDE ----- */
.aside {
  width: 26%;
  padding: 2em;
  background-color: var(--very-dark-blue);
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside__title {
  margin-bottom: 0.8em;
  color: var(--soft-orange);

  text-align: left;
  font-weight: 800;
  font-size: 2.5em;
}

.list-new {
  width: 100%;
  list-style: none;
}

.new {
  padding: 1em 0;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.new__title {
  margin-bottom: 0.5em;
  color: var(--off-white);

  font-weight: 800;
  font-size: 1.34em;
  cursor: pointer;
  user-select: none;
}

.new__title:hover {
  color: var(--soft-orange);
}

.new__paragraph {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}
